export(notions)
export(questions)
export(question)
export(illustrer_question)
export(produire)
export(produire_cheatsheet)

export(graphique)
importFrom(ggplot2,ggplot)
importFrom(ggsketch,geom_sketch_segment)

export(voies)
export(series)
export(maths_programmes)
export(maths_parcours)

export(table_multiplication)
