export(capacites)
export(chercher_notions)
export(couverture_documentation)
export(disciplines)
export(eduschool_init)
export(eduschool_path)
export(enseignements)
export(generer_exercice)
export(generer_fiche)
export(generer_lot_exercices)
export(libelle_capacite)
export(libelle_niveau)
export(niveaux)
export(notions)
export(notions_capacite)
export(obtenir_rappel)
export(ouvrir_base)
export(prerequis_capacite)
export(prerequis_notion)
export(produire_corrige_exercices)
export(produire_fiche_exercices)
export(produire_rapport_exercices)
export(programmes)
export(rappels_capacite)
export(series)
export(voies)
importFrom(DBI,dbConnect)
importFrom(DBI,dbDisconnect)
importFrom(DBI,dbIsValid)
importFrom(DBI,dbWriteTable)

S3method(print,eduschool_context)
export(diagramme_package)
export(diagramme_parcours_scolaire)
export(diagrammes_disponibles)
export(produire_diagramme_html)
export(generer_diagrammes_documentation)
export(generer_documentation_visuelle)
export(produire_diagramme_svg)
importFrom(stats,setNames)
importFrom(utils,head)
importFrom(utils,read.csv2)
importFrom(utils,tail)
importFrom(utils,write.table)
export(horaires_niveau)
export(themes_niveau)
export(notions_niveau)
export(resume_niveau)

export(genere_resume)
export(produire_fiche)
export(produire_corrige)
export(familles_revision)
export(fiches_revision)
export(generer_revision)
export(generer_essentiel)
export(produire_revision)
export(tables_si)
export(colonnes_si)
export(relations_si)
export(inventaire_si)
export(controle_integrite_si)
export(resume_controles_si)
export(produire_schema_relations_svg)
export(charte_eduschool)
export(couleur_cycle)
export(identite_revision)
export(theme_eduschool)
export(usages_ressources)
export(ressources_pedagogiques)
export(orientation_parcours)
export(series_technologiques)
export(specialites_generales)
export(filieres_postbac)
export(parcoursup_etapes)
export(parcoursup_campagne)
export(parcoursup_calendrier)
export(parcoursup_nouveautes)
export(plateformes_admission)
export(produire_schema_orientation_svg)
export(produire_schema_parcoursup_svg)
export(produire_frise_parcoursup_svg)
export(enseignements_optionnels_lycee)
export(parcours)
export(orientation)
export(programme)
export(revision)
export(exercices)
